/* =================================
Opening Screen
================================= */


.opening-screen {

    width: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}



.opening-brand {

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 15px;

}



.opening-title {

    font-size: 1.4rem;

    letter-spacing: 0.12em;

}



.bee {

    font-size: 1.4rem;

}
